<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
    <property name="pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- 设置颜色 -->
    <highlight level="ERROR" foreground="red" background="white" />
    <highlight level="WARN" foreground="yellow" background="black" />

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>
 </configuration>